@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600");

html {
  @include typography-p;
  color: $gray;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
  background: $black;
}

.page {
  overflow: hidden;
}

.content {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 60px;
}

a {
  @include a-reset;
}

h1 {
  @include typography-headline;
}
