@mixin typography-base {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

@mixin typography-headline {
  @include typography-base;
  letter-spacing: .1em;
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

@mixin typography-p {
  @include typography-base;
  font-size: 16px;
  line-height: 20px;
}

@mixin typography-capital {
  @include typography-base;
  font-size: 20px;
  line-height: 28px;
}

@mixin typography-breed {
  @include typography-base;
  font-size: 12px;
  line-height: 16px;
}
